* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  font-family: Arial;
}

.octodex {

  margin: 20px;
  padding: 0px;
}

/* targets octocats and their links */
.octocat {
  display: inline-block;
  width: 33%;
  padding: 20px;
}

/* targets main octocat image */
.octocat a img{
  width: 100%;
  margin: auto;
  border: solid 2px #E7E7E7
  
}

.octocat img:nth-of-type(1) {
  /* border: solid 2px #E7E7E7 */
}




 .authors a img {
  width: 20px;
  display: inline-block;
  padding: 0px;
}

.image-footer {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: solid 2px #E7E7E7
}
.image-number {
  display: inline-block;
  color: #E7E7E7;
  font-weight: bold;
}
.image-number:before {
  content: "#";
}

.image-caption {
  display: inline-block;
  float: right;
  color: #000;

}


 .image-caption a {
   text-decoration: none;
   color: #000;
   font-weight: bold;
   border: none;
 }

.authors a:last-of-type {
  border: none;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #E7E7E7;
}




.authors {
  display: inline-block;
  padding: 0px;

}
